@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:  #000;
    background-color: #E5E5E5;
}


@media screen and (max-width:992px) {
    .navbar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #E5E5E5;
        margin-top: 1.8rem;
    }
    .nav-item{
        margin-top: 0.5rem;
    }
}
.navbar-solid{
    background-color: #E5E5E5;
}
.nav-link:hover{
    padding-bottom: 0;
    color: #665832 !important;
}
.nav-link::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #665832;
    display: block;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::after{
    content: '';
    height: 2px;
    width: 80%;
    background-color: #665832;
    display: block;
}
.banner-image {
    background-image: url('images/landing.png');
    background-size: cover;
}
.content-part{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 7rem;
    font-weight: 400;
    line-height: 7rem;
}
@media screen and (max-width: 600px) {
    .content-part{
        font-size: 5rem;
        line-height: 5rem;
    }
}
@media screen and (max-width: 350px) {
    .content-part{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}
#aboutSection{
    color: #93845B;
    margin: 1rem 5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutSection img{
    height: 90%;
    width: 70%;
    border: 6px solid white;
    border-radius: 7px;
}



 


@media screen and (min-width: 850px) {
    #aboutSection img{
        transform: rotate(16deg);
        position: relative;
        top: -4rem;
    }
}
#joinSection{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0rem;
}
#courseSection{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}
.landingHeading{
    font-family: 'Cormorant Garamond', serif;
    color: #aa996b;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 4rem;
    margin: 4.5rem 0.6rem 1rem;
}

.container-fluid{
    width: 70%;
}
.card-body{
    padding: 0.5rem;
}
.ct{
    text-align: center;
}
.card{
    margin: 1rem 0rem;
    box-shadow: 0 -2px 6px rgba(187, 168, 168, 0.815);
}
.join{
    padding: 0rem 0 3rem;
}
.course .row{
    margin-top: 3rem;
}
@media screen and (max-width: 767px) {
    .card{
        width: 20rem;
    } 
    .center-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width:767px) {
    .card-1{
        position: relative;
        top: 50px;
    }
    .card-3{
        position: relative;
        bottom: 50px;
    }
}
@media screen and (max-width: 436px) {
    .card{
        width: auto;
    } 
    .card-body{
        padding: 0.3rem;
    }
}
.course img, .course .card{
    border-radius: 15px;
}
.courses-content{
    position: absolute;
    top: 65%;
    background-color: #181818;
    color: #fff;
    text-align: center;
    padding: 0.2rem;
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
}
#joinSection .card:hover{
    opacity: 0.5;
    transition: 0.2s ease-in-out;
    position: relative;
    top: 10px;
}
#courseSection .card:hover{
    opacity: 0.5;
    transition: 0.2s ease-in;
    position: relative;
    transform: translate(-5px, -5px);
}
.courseNumber{
    color: #aa996b;
    font-size: 6rem;
    position: absolute;
    right: -47px;
    top: -70px;
    font-family: 'Cinzel', serif;
    font-weight: 300;
}
#courseSection img{
    z-index: 2;
}
#courseSection .card{
    margin-right: 1.3rem;
    margin-left: 1.3rem;
    margin-top: 2.3rem;
}



#meetSection{
    color: #93845B;
    margin: 1rem 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meet-center{
    width: 100%;
}
#meetSection .col-md-6, #aboutSection .col-md-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#meetSection img{
    margin-top: 1rem;
    height: 80%;
    border: 6px solid black;
    border-radius: 7px;
}
.meetButton{
    background-color: #93845B;
    color: #fff;
    padding: 0.5rem 2rem;
    border: 1px solid #93845B;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(161, 152, 152, 0.788);
}
.meetButton i{
    font-size: 1rem;
    margin-left: 0.4rem;
}
.meetButton:hover, .meetButton:focus{
    box-shadow: 0 0.5em 0.5em -0.4em #93845B ;
    transform: translateY(-0.25em);
    color: #000;
    font-weight: 500;
    transition: 0.2s ease-in-out;
  }


/* divine section */

#divineSection{
    color: #93845B;
    margin: 2rem 5rem;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#divineSection .landingHeading{
    text-align: center;
}

/* placeholder */
#placeholderSection{
    margin: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.placeholders{
    visibility: hidden;
}



/* footer */
#footerSection{
    margin: 5rem 0rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.footerContent{
    background-color: #111111;
    color: #93845B;
    text-align: center;
    padding: 3rem 1rem;
    font-size: 20px;
    line-height: 2rem;
}


@media screen and (max-width: 600px) {
    .landingHeading{
        font-size: 3.3rem;
    }
    #divineSection .landingHeading, #placeholderSection .landingHeading{
        font-size: 2.8rem;
        line-height: 2.5rem;
    }
}
@media screen and (min-width: 850px) {
    #meetSection img{
        transform: rotate(10deg);
    }
}
@media screen and (max-width:850px) {
    .meet-center{
        width: 100%;
    }
}
@media screen and (max-width:400px) {
    #meetSection, #aboutSection{
        margin: 2rem;
    }
    #meetSection img, #aboutSection img{
        height: 85%;
    }
}