.wlImages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}
.cnt{
    padding: 0 !important;
    margin: 0 !important;
    width:80%;
    text-align: center;
    overflow: hidden;
}